body{
    width: 1200px;
    height: 1200px;
    margin: 0 auto;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.Title{
    margin-top: 30px;
    border: solid 1px black;
    width: 396px;
    height: 100px;
}

.nav{
    border: solid 1px black;
    width: 800px;
    height: 100px;
    margin-top: 30px;
}
.main{
    border: solid 1px black;
    width: 1200px;
    height: 700px;
    position: relative;
}
.Title2{
    border: solid 1px black;
    width: 1200px;
    height: 80px;
}
li{
    border: solid 1px black;
    width: 264px;
    height: 100px;
    margin: 0;
    
}
ul{
    list-style:none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    }

    .box2{
        position: absolute;
        border: solid 1px black;
        width: 302px;
        height: 35px;
        top: 61px;
        left: 107px;
    }
    h4{
        width: 302px;
        height: 35px;
        margin: 0px;
        text-align: center;   
    }
    h4:hover{
        background-color: red;
    }