body{
    width: 100%;
    margin: 0 auto;
}
/* 뉴스 피드 */
.section .slidewrap {
    max-width: 12800px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height: 298px;
}
.section .slidelist {
    white-space: nowrap;
    font-size: 0;
    height: 440px;

}
.section .slidelist > li {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all 0.5s;
}
.section .slidelist > li > a {
    display: block;
}
.section .slidelist > li > a img {
    width: 100%;
    position: absolute;
    top: 0;
}
.section .slidelist label {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    padding: 25px;
    cursor: pointer;
}
.section .slidelist .left {
    left: 10px;
    background: url("/img/화살2.png") center center / 100% no-repeat;
}
.section .slidelist .right {
    right: 10px;
    background: url("/img/화살.png") center center / 100% no-repeat;
}

.section [id="slide01"]:checked ~ .slidewrap .slidelist > li {
    transform: translateX(0%);
}
.section [id="slide02"]:checked ~ .slidewrap .slidelist > li {
    transform: translateX(-100%);
}
.section [id="slide03"]:checked ~ .slidewrap .slidelist > li {
    transform: translateX(-200%);
}
.section .slide-control [class*="control"] {
    display: none;
}
.section [id="slide01"]:checked ~ .slidewrap .control01 {
    display: block;
}
.section [id="slide02"]:checked ~ .slidewrap .control02 {
    display: block;
}
.section [id="slide03"]:checked ~ .slidewrap .control03 {
    display: block;
}

/* 뉴스 피드 */

/* 사이드바 */
div[class = "sidebar"] {
    width: 310px;
    height: 100%;
    background: #222;
    position: fixed;
    top: 0;
    left: -200px;
    z-index: 1;
    transition: all 0.35s;
}
input[id="menuicon"]:checked + label + div {
    left: 0;
}
/* 사이드바 */

/* 아이콘 */
input[id="menuicon"] {
    display: none;
}
input[id="menuicon"] + label {
    display: block;
    width: 35px;
    height: 35px;
    position: relative;
    cursor: pointer;
    margin: 0 0 0 30px;
    padding: 3px;
}
input[id="menuicon"] + label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background:#000;
    transition: all .35s;
}
input[id="menuicon"] + label span:nth-child(1){
    top: 5%;
}
input[id="menuicon"] + label span:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
}
input[id="menuicon"] + label span:nth-child(3){
    bottom: 5%;
}
input[id="menuicon"]:checked + label span:nth-child(1){
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
input[id="menuicon"]:checked + label span:nth-child(2){
    opacity: 0;
}
input[id="menuicon"]:checked + label span:nth-child(3){
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}
/* 아이콘 */
/*선택폴더*/
input[type="radio"]{display: none;}
input[type="radio"] + label {
    display: inline-block;
    padding: 20px;
    background: rgb(155, 152, 152);
    color: rgb(78, 74, 74);
    font-size: 14px;
    cursor: pointer;
    width: 169px;
    margin: 0;
    border: solid  black;
    border-width: 1px 1px 0px 1px ;
    border-radius: 7px 20px 0 0;
}
input[type="radio"]:checked + label {
    background: rgb(255, 255, 255); color: rgb(0, 0, 0);
}
.conbox {
    width: 868px;
    height: 839px;
    background: rgb(255, 255, 255);
    margin: 0 auto;
    display: none;
    color: rgb(0, 0, 0);
    border: solid  black;
    border-width: 0px 1px 1px 1px ;
}
input[id="tab01"]:checked ~ .con1 {display: block;}
input[id="tab02"]:checked ~ .con2 {display: block;}
input[id="tab03"]:checked ~ .con3 {display: block;}
input[id="tab04"]:checked ~ .con2 {display: block;}
input[id="tab05"]:checked ~ .con3 {display: block;}
/*선택폴더*/
