body {
    margin: 0;
    height: 1600px;
}
.title {
    display: flex;
    padding: 10px 50px;
    background-color: #263343;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
}
.none {
   
}
.linkbox {
    display: flex;
    width: 165px;
    justify-content: space-between;
}
.link{
    font-size: 40px;
    color: rgb(255, 255, 255);
}
.logo {
    font-size: 25px;
    color: rgb(255, 255, 255);
}
/* 뉴스 피드 */
.section .slidewrap {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height: 500px;
}
.section .slidelist {
    white-space: nowrap;
    font-size: 0;
    height: 440px;
    padding: 0;
}
.section .slidelist > li {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all 0.5s;
}

.section .slidelist > li > a {
    display: block;
}
.section .slidelist > li > a img {
    width: 100%;
    position: absolute;
    top: 0;
}
.section .slidelist label {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    padding: 25px;
    cursor: pointer;
}
.section .slidelist .left {
    left: 10px;
    background: url("/img/화살2.png") center center / 100% no-repeat;
}
.section .slidelist .right {
    right: 10px;
    background: url("/img/화살.png") center center / 100% no-repeat;
}

.section [id="slide01"]:checked ~ .slidewrap .slidelist > li {
    transform: translateX(0%);
}
.section [id="slide02"]:checked ~ .slidewrap .slidelist > li {
    transform: translateX(-100%);
}
.section [id="slide03"]:checked ~ .slidewrap .slidelist > li {
    transform: translateX(-200%);
}
.section .slide-control [class*="control"] {
    display: none;
}
.section [id="slide01"]:checked ~ .slidewrap .control01 {
    display: block;
}
.section [id="slide02"]:checked ~ .slidewrap .control02 {
    display: block;
}
.section [id="slide03"]:checked ~ .slidewrap .control03 {
    display: block;
}
/* 뉴스 피드 */
.mainbox{
    padding: 30px 0 0 10px;
    border: solid 1px black;
    height: 450px;
    width: 100%;
    position: relative;
}
.buttonbox{
    border: solid 1px black;
    height: 300px;
    width: 100%;
    background: linear-gradient(to right, #232526,#414345); 
    padding: 0 10px;
    color: white;
}

.endbox{
    border: solid 1px black;
    height: 300px;
    width: 100%;
}
.Laravel{
    padding: 10px;
    color: white;
    margin: 5px;
    border: solid 1px black;
    height: 23%;
    width: 50%;
    border-radius:0.5em;
    background: linear-gradient(to left, #dd1818,#1f1e1e); 
}
.HTML{
    padding: 10px;
    color: white;
    margin: 5px;
    border: solid 1px black;
    height: 23%;
    width: 50%;
    border-radius:0.5em;
    background: linear-gradient(to right, #20002c,#bc92cc); 
}
.php{
    padding: 10px;
    color: white;
    margin: 5px;
    border: solid 1px black;
    height: 23%;
    width: 50%;
    border-radius:0.5em;
    background: linear-gradient(to right, #20002c,#bc92cc); 
}
.profile{
    position: absolute;
    margin: 5px;
    border: solid 1px black;
    height: 60%;
    width: 30%;
    right: 25px;
    top: 30px;
}