body {
    max-width: 1200px;
    margin: 0 auto;
    height: 1600px;
}
.title {
    display: flex;
    padding: 10px 30px;
    background-color: #263343;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
}
.linkbox {
    display: flex;
    width: 165px;
    justify-content: space-between;
}
.logo {
    font-size: 25px;
    color: rgb(255, 255, 255);
}
/* 뉴스 피드 */
.section .slidewrap {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height: 400px;
}
.section .slidelist {
    white-space: nowrap;
    font-size: 0;
    height: 440px;
    padding: 0;
}
.section .slidelist > li {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all 0.5s;
}

.section .slidelist > li > a {
    display: block;
}
.section .slidelist > li > a img {
    width: 100%;
    position: absolute;
    top: 0;
}
.section .slidelist label {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    padding: 25px;
    cursor: pointer;
}
.section .slidelist .left {
    left: 10px;
    background: url("/img/화살2.png") center center / 100% no-repeat;
}
.section .slidelist .right {
    right: 10px;
    background: url("/img/화살.png") center center / 100% no-repeat;
}

.section [id="slide01"]:checked ~ .slidewrap .slidelist > li {
    transform: translateX(0%);
}
.section [id="slide02"]:checked ~ .slidewrap .slidelist > li {
    transform: translateX(-100%);
}
.section [id="slide03"]:checked ~ .slidewrap .slidelist > li {
    transform: translateX(-200%);
}
.section .slide-control [class*="control"] {
    display: none;
}
.section [id="slide01"]:checked ~ .slidewrap .control01 {
    display: block;
}
.section [id="slide02"]:checked ~ .slidewrap .control02 {
    display: block;
}
.section [id="slide03"]:checked ~ .slidewrap .control03 {
    display: block;
}
/* 뉴스 피드 */
.mainbox{
    height: 760px;
    width: 100%;
    position: relative;
}
.buttonbox{
    height: 280px;
    width: 100%;
    background: linear-gradient(to right, #232526,#414345); 
    color: white;
    display: flex;
    position: relative;
}
.Laravel{
    position: absolute;
    right: 0px;
    top: 20px;
    padding: 10px;
    color: white;
    margin: 5px;
    border: solid 1px black;
    height: 15%;
    width: 40%;
    border-radius:0.5em;
    background: linear-gradient(to left, #dd1818,#1f1e1e); 
}
.HTML{
    position: absolute;
    right: 0px;
    top: 380px;
    padding: 10px;
    color: white;
    margin: 5px;
    border: solid 1px black;
    height: 15%;
    width: 40%;
    border-radius:0.5em;
    background: linear-gradient(to right, #00416A,#E4E5E6); 
}
.php{
    position: absolute;
    right: 0px;
    top: 200px;
    padding: 10px;
    color: white;
    margin: 5px;
    border: solid 1px black;
    height: 15%;
    width: 40%;
    border-radius:0.5em;
    background: linear-gradient(to right, #20002c,#bc92cc); 
}
.Java{
    position: absolute;
    right: 0px;
    top: 560px;
    padding: 10px;
    color: white;
    margin: 5px;
    border: solid 1px black;
    height: 15%;
    width: 40%;
    border-radius:0.5em;
    background: linear-gradient(to right, #2c3e50,#bdc3c7); 
}


.section{
    position: relative;
    height: 400px;
}
.section [id="slide01"]{
    position: absolute;
    z-index: 1;
    bottom: 10px;
    left: 48%;
}
.section [id="slide02"]{
    position: absolute;
    z-index: 1;
    bottom: 10px;
    left: 50%;
}
.section [id="slide03"]{
    position: absolute;
    z-index: 1;
    bottom: 10px;
    left: 52%;
}
.abcbox{
    display: flex;
    flex-wrap: wrap; 
    width: 370px;
    height: 80px;
    position: absolute;
    right: 50px;
    top: 60px;
}
.buttontitle{
    width: 30%;
    height: 80%;
    position: absolute;
    top: 40px;
    left: 30px;
}
.abcbox h1{
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    font-size: 40px;
    text-align: center;
    line-height: 50px;
}
.endbox{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
}
.endtitle{
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    margin-top: 20px;
    margin-left: 10px;
}
.endtitle p{
    display: inline;
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    padding: 5px 5px 0 0;
}
.endp{
    width: 660px;
    margin: 0;
    padding: 0;
}
.endp p{
    font-weight:bold;
}
.endmain{
    width: 680px;
    margin: 0 0 0 10px;
    
}
.endtime{
    width: 500px;
    
}
ul{
    list-style:none;
    padding: 0;
}

.endlink{
    width: 510px;
    text-align: left;
    line-height: 60px;
    display: flex;
}
.endlink i {
    width: 30px;
    text-align: center;
    font-size: 30px;
    margin: 0 0 0 20px;
}
.endlink p {
    padding:  0 30px 0  5px;
}
.face{
    width: 170px;
    margin: 0;
    height: 60px;
}
.in{
    width: 180px;
    margin: 0;
    height: 60px;
}
.tw{
    width: 170px;
    margin: 0;
    height: 60px;
}
.login{
    width: 20%;

}

.login p{
    color: white;
    margin: 0 10px 0 0;
    text-align: right;
}
/* 아이콘 */
.post{
    position: absolute;
    margin: 0;

    width: 53%;
    left: 0px;
    top: 25px;
    display: flex;
    flex-wrap: wrap; 
}
.title2{
    width: 20%;
    height: 60px;
    padding: 0 0 0 20px;
    line-height: 60px;
    color: #000000;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    margin:  21px 0 21.21px 0;
}
.title1{
    height: 60px;
    margin:  21px 0 21.21px 20px;
    padding: 0 0 0 10px;
    line-height: 60px;
    color: #000000;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
}

.input1{
    width: 200px;
    height: 30px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 3px solid black;
}
.button1{
    width: 50px;
    height: 36px;
    border-top: 1px solid black;
    border-left: none;
    border-right: 1px solid black;
    border-bottom: 3px solid black;
    padding: 0 0 0 0;
}
.search{
    width: 270px;
    height: 58px;
    margin: 50px 0 0 80px;
    display: flex;
}
.content{
    width: 100%;
    height: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgba(124, 124, 124, 0.596);
    display: flex;
    flex-wrap: wrap; 

}
.ct{
    width: 150px;
    text-align: left;
    margin: 0 0 0 10px;
    height: 40px;
}

.content p{
    line-height: 40px;
    margin: 0;
}
.nub{
    width: 300px;
    padding: 0 50px 0 0;
    text-align: right;
}
.cday{
    width: 120px;
}
.nt{
    width: 340px;
    padding: 0 50px 0 0;
    text-align: right;
}
.day{
    width: 120px;
}
.st p{
    line-height: 40px;
    margin: 0;
}
.st{
    width: 100%;
    height: 40px;
    display: flex;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid rgba(93, 93, 93, 0.596);
}

.stt{
    width: 150px;
    text-align: left;
    height: 40px;
    padding: 0 0 0 10px;
}
/*팝업*/
input[id*="popup"]{
    display: none;
}
input[id*="popup"] + label {
    display: inline-block;
    padding: 20px;
    background: #000000;
    color: #fff;
    height: 60px;
    line-height: 60px;
}
input[id*="popup"] + label + div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
input[id*="popup"] + label + div > div{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 500px;
    border: 1px solid white;
    z-index: 2;
}
input[id*="popup"] + label + div > div > label {
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(40%, -40%);
    padding: 20px;
    background: #ffffff;
    border-radius: 100%;
    z-index: 1;
}
input[id*="popup"] + label + div > label  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.829);
    z-index: 1;
}
input[id*="popup"] + label + div{
    opacity: 0; 
    visibility: hidden;
    transition: all 1s;
}
input[id*="popup"]:checked + label + div {
    opacity: 1;
    visibility: visible;
}

/*팝업*/