body {
    max-width: 1200px;
    margin: 0 auto;
    height: 1600px;
}
.title {
    display: flex;
    padding: 10px 30px;
    background-color: #263343;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
}
.title a{
    color: white;
    text-decoration: none;
}
.linkbox {
    display: flex;
    width: 165px;
    justify-content: space-between;
}
.logo {
    font-size: 25px;
    color: rgb(255, 255, 255);
}
/*팝업*/
input[id*="popup"]{
    display: none;
}
input[id*="popup"] + label {
    padding: 20px;
    background: #263343;
    color: #fff;
    height: 60px;
    line-height: 60px;
}
input[id*="popup"] + label + div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
input[id*="popup"] + label + div > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 70%;
    border: 1px solid white;
    z-index: 2;
}
input[id*="popup"] + label + div > div > label {
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(40%, -40%);
    z-index: 1;
    width: 10px;
    height: 10px;
    line-height: 10px;
}
input[id*="popup"] + label + div > div > label >h1{
    margin: 0 0 0 0;
    position: absolute;
    top: 20px;
    right: 15px;
    color: white;
    font-size: 30px;
}

input[id*="popup"] + label + div > label  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.829);
    z-index: 1;
}
input[id*="popup"] + label + div{
    opacity: 0; 
    visibility: hidden;
    transition: all 1s;
}
input[id*="popup"]:checked + label + div {
    opacity: 1;
    visibility: visible;
}
.tas{
    position: absolute;
    top: 17%;
    left: 100px;
    color: white;
}
.tas2{
    position: absolute;
    top: 17%;
    left: 300px;
    color: white;
}
.tas3{
    position: absolute;
    top: 17%;
    left: 530px;
    color: white;
}
.tas4{
    position: absolute;
    top: 17%;
    left: 750px;
    color: white;
}
.tas5{
    position: absolute;
    top: 17%;
    left: 950px;
    color: white;
}
.tas6{
    position: absolute;
    top: 17%;
    left: 1200px;
    color: white;
}
/*팝업*/
ul{
    list-style:none;
}
.lang{
    height: 70px;
}
.lang ul{
    width: 100%;
    height: 70px;
    padding: 5px 0 0 0;
    margin: 0;
}
.lang li{
    border: 1px solid black;
    width: 19%;
    line-height: 70px;
    text-align: center;
    margin: 0 0 0 4px;
    display: inline-block;
}
.Qbox{
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 0 0;
    width: 100%;
}
.Q{
    border: 1px solid black;
    width: 4%;
    height: 50px;
    margin: 0 0 0 0;
}
.Q h1{
    margin: 0;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.Qtitle{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
}
.Qtitle h1{
    width: 40%;
    margin: 0;
    height: 50px;
    line-height: 50px;
    padding:  0 0 0 20px;
}
.Qtitle p{
    width: 55%;
    text-align: right;
}
.Qcontent{
    width: 72%;
    height: 300px;
    padding: 30px 200px 0 70px;
}
.iu{
    width: 40%;
}
.Qbuttom{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


.Abox{
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 0 0;
    width: 100%;
}
.A{
    border: 1px solid black;
    width: 4%;
    height: 50px;
    margin: 0 0 0 0;
}
.A h1{
    margin: 0;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.Atitle{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
}
.Atitle h1{
    width: 40%;
    margin: 0;
    height: 50px;
    line-height: 50px;
    padding:  0 0 0 20px;
}
.Atitle p{
    width: 55%;
    text-align: right;
}
.Acontent{
    width: 72%;
    height: 300px;
    padding: 30px 200px 0 70px;
}
.iu{
    width: 40%;
}
.Abuttom{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}